{
  "presets": [["@babel/preset-env"]],
  "plugins": [
    [
      "babel-plugin-inline-import",
      {
        "extensions": [".bin", ".abi"]
      }
    ],
    "@babel/plugin-proposal-export-default-from"
  ]
}
